
@font-face {
font-family: 'Roboto', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
}

h1,h3,h5{
	font-family: Alegreya Sans;
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

section, p,ol,ul,{
	font-size: 1em;
	font-family: Roboto;
	line-height: 110%;
}

#forsidebillede {
	max-width: 50%;
	height:auto;
	position: center;
}

.kilde {
	font-size: 0.8em;
	font-family: Roboto;
}

.banner {
	font-size: 2em;
	font-family: Alegreya Sans;
	text-align: center;
}

.mindrebillede{
	display: block;
	max-width: 50%;
	height: auto;
}

/* Table of cotent menu styling start */
.fading-side-menu.affix-top {
    opacity: 1;
    transition: opacity 1s
}
.fading-side-menu.affix {
    top: 11.5px;
}
.fading-side-menu.affix {
    opacity: 0.2;
    transition: opacity 5s
}
.fading-side-menu.affix:hover {
    opacity: 1;
    transition: opacity 0.3s
}
/* RECOMMENDED STYLING BUT NOT REQUIRED */
.fading-side-menu a {
    color: rgb(102, 102, 102);
}
.fading-side-menu a .fa {
    padding-right:15px;
}
/*Table of content menu styling slut */
/* navbar css*/
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
/* navbar css slut*/
