
@font-face {
font-family: 'Roboto', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
}

h1,h3{
	font-family: Alegreya Sans;
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

section, p,ol,ul{
	font-size: 1em;
	font-family: Roboto;
	line-height: 110%;
}

